<div data-role="page">

	<tabset>
	
		<tab heading="My Trackers" class="small" select="onTabSelect()" active="model.tabs['trackers'].active">
			
			<div style="margin-top:10px">
		    
		    	<div ng-show="!model.trackersFiltered || model.trackersFiltered.length==0" style="margin:20px;">
		    		You haven't added any {{model.selectedCondition?model.selectedCondition.name + ' ':''}}trackers yet. Get going!
		    	</div>
		    	
				<div class="trackers container" ng-if="(model.trackersFiltered = (model.trackers | filter:trackerAppliesToCondition)).length>=1">
					
					<div class="row alpha omega tracker" ng-repeat="tracker in model.trackersFiltered" ng-class="{maximized: model.tracker==tracker}">
						
						<div class="header" ng-class="{maximized: model.tracker==tracker}" ng-click="(tracker.records.length>1 ? navigation.viewTracker('tracker',tracker) : null)">
						
							<div class="col-xs-4 v-center title" style="padding-left:2px;padding-right:2px">
								<div>
									{{tracker.name}}
								</div>
				    		</div>
				    		
				    		<div class="col-xs-6 v-center text-center text-muted" ng-if="!tracker.values.values.length">
				    			<div><small><em>No data added yet!</em></small></div>
				    		</div>
				    		
					    	<div class="col-xs-4 v-center last" ng-if="tracker.values.values.length" style="padding-left:2px;padding-right:2px">
					    		<div>
					    			<div ng-if="tracker.values.lastValue">
					    				<strong>{{tracker.values.lastValue.value}}</strong><br/>{{tracker.values.lastValue.unit}}
					    			</div>
					    		</div>
					    	</div>
					    	
					    	<div class="col-xs-2 v-center graph" ng-if="tracker.values.values.length" style="padding-left:5px;padding-right:5px;height:50%">
					    		<div>
					    			<sparkline ng-repeat="values in tracker.values.values" ng-if="tracker.type!=constants.TYPE_MEDICATION" data="{{values}}" sparkline-min="{{tracker.values.min}}" sparkline-max="{{tracker.values.max}}" sparkline-color="model.tracker==tracker?'fff':'333'"></sparkline>
					    		</div>
					    	</div>
					    	
					    	<div class="col-xs-2 v-center text-right" style="padding-left:2px;padding-right:2px">
					    		<div>
					    			<button type="button" class="btn btn-default btn-xs" ng-click="model.selectedTrackerId=tracker.code; navigation.showPopup('record'); $event.stopImmediatePropogation()">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
					    		</div>
					    	</div>
					    	
					    	<!-- 
					    	<div class="col-xs-3 v-center date text-right" ng-if="tracker.values.values.length" style="padding-left:2px;padding-right:2px">
					    		<div>Reported on:<br/>{{tracker.values.lastRecord.date  | date:'MMM d, yyyy'}}</div>
					    	</div>
				    	 	-->
				    	 	
						</div>
						
						<div ng-show="model.tracker==tracker" ng-switch on="model.tracker.type">
    						
    						<div ng-switch-when="vital" ng-show="model.tracker.records.length>1">
    							
    							<line-chart records="model.tracker.records" timespans="model.timespans"></line-chart>
    							
    						</div>
		    				
		    				<div ng-switch-when="tracker" ng-show="model.tracker.records.length>1">
    							
    							<line-chart records="model.tracker.records" timespans="model.timespans"></line-chart>
    							
    						</div>
    						
		    			</div>
					    	
					</div>
					
				</div>
				
		  	</div>
		  	
		</tab>
		
		<tab heading="Compare" class="small" active="model.tabs['compare'].active"></tab>
		<tab heading="Settings" class="small" active="model.tabs['settings'].active">
			<tab-heading>
        		<i class="glyphicon glyphicon-cog"></i>
      		</tab-heading>
		</tab>
		
	</tabset>

</div>