<div data-role="page">

	<div class="tab-content">
	
		<div id="myTrackers" class="tab-pane small" ng-class="{active:model.tabs['trackers'].active}" heading="My Trackers" select="onTabSelect()">
			
			<div class="container">
				<div class="row">
					<div class="col-xs-7" ng-show="conditionsModel.statements">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-xs-3 control-label">Show:</label>
								<div class="col-xs-9" style="margin-top:1px; margin-left:-5px;">
									<select class="form-control input-sm" ng-model="model.selectedConditionId" ng-options="t.id as t.name for t in [{id:undefined,name:'All trackers'}].concat(conditionsModel.statements)"></select>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xs-5" align="right" style="margin-top:1px;">
						<button type="button" class="btn btn-primary btn-sm" ng-click="showPopup('add-tracker')"><span class="glyphicon glyphicon-plus"></span> Add Tracker</button>
					</div>
				</div>
			</div>
			
			<div style="margin-top:5px">
		    
		    	<div ng-show="!model.trackersFiltered || model.trackersFiltered.length==0" style="margin:20px;">
		    		You haven't added any trackers yet. Get going!
		    	</div>
		    	
				<div class="trackers container" ng-if="(model.trackersFiltered = (model.trackers | filter:trackerAppliesToCondition)).length>=1">
					
					<div class="row alpha omega tracker" ng-repeat="tracker in model.trackersFiltered" ng-class="{maximized: model.tracker==tracker}">
						
						<div class="header" ng-class="{maximized: model.tracker==tracker}" ng-click="(tracker.records.length>0 ? navigation.viewTracker('tracker',tracker) : null)">
						
							<div class="col-xs-4 v-center title" style="padding-left:2px;padding-right:2px">
								<div ng-if="tracker.type==constants.TYPE_MEDICATION" style="padding-right:3px;">
									<img src="img/pill.png" alt="Medication" />
								</div>
								<div>
									{{tracker.name}}
								</div>
				    		</div>
				    		
				    		<div class="col-xs-6 v-center text-center text-muted" ng-if="!tracker.valueSummary.values.length">
				    			<div><small><em>No data added yet!</em></small></div>
				    		</div>
				    		
					    	<div class="col-xs-4 v-center last" ng-if="tracker.valueSummary.values.length" style="padding-left:2px;padding-right:2px">
				    			
				    			<div ng-if="tracker.valueSummary.lastValue">
				    				<!-- arrow -->
				    				<div ng-if="tracker.valueSummary.values.length && tracker.valueSummary.values[0].length > 1" style="display:inline-block;vertical-align:middle">
					    				<span ng-if="tracker.valueSummary.values[0][tracker.valueSummary.values[0].length-2] < tracker.valueSummary.values[0][tracker.valueSummary.values[0].length-1]" class="glyphicon glyphicon-arrow-up"></span>
					    				<span ng-if="tracker.valueSummary.values[0][tracker.valueSummary.values[0].length-2] > tracker.valueSummary.values[0][tracker.valueSummary.values[0].length-1]" class="glyphicon glyphicon-arrow-down"></span>
					    			</div>
					    			<!-- last value -->
				    				<div style="display:inline-block;vertical-align:middle">
				    					<strong>{{tracker.valueSummary.lastValue.value}}</strong><br/>{{tracker.valueSummary.lastValue.unit}}
				    				</div>
				    			</div>
					    	</div>
					    	
					    	<div class="col-xs-2 v-center graph" ng-if="tracker.valueSummary.values.length" style="padding-left:5px;padding-right:5px;height:50%">
					    		<div>
					    			<sparkline ng-repeat="values in tracker.valueSummary.values" ng-if="tracker.type!=constants.TYPE_MEDICATION" data="{{values}}" sparkline-min="{{tracker.valueSummary.min}}" sparkline-max="{{tracker.valueSummary.max}}" sparkline-color="model.tracker==tracker?'fff':'333'"></sparkline>
					    		</div>
					    	</div>
					    	
					    	<div class="col-xs-2 v-center text-right" style="padding-left:2px;padding-right:2px">
					    		<div>
					    			<button type="button" class="btn btn-default btn-xs" ng-click="showTrackerDetail($event,tracker)">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
					    		</div>
					    	</div>
					    	
						</div>
						
						<div ng-show="model.tracker==tracker" ng-switch on="model.tracker.type">
    						
    						<div ng-switch-when="vital" ng-show="model.tracker.records.length>0">
    							<tracker-chart records="model.tracker.records" definition="model.tracker.definition" timespans="model.timespans" y-axis-label="tracker.valueSummary.lastValue.unit" chart-type="tracker.chartType"></tracker-chart>
    						</div>
    						
    						<div ng-switch-when="medication" ng-show="model.tracker.records.length>0">
    							<tracker-chart records="model.tracker.records" definition="model.tracker.definition" timespans="model.timespans" y-axis-label="'Intake'" chart-type="tracker.chartType"></tracker-chart>
    						</div>
		    				
		    				<div ng-switch-when="tracker" ng-show="model.tracker.records.length>0">
    							<tracker-chart records="model.tracker.records" definition="model.tracker.definition" timespans="model.timespans" y-axis-label="tracker.valueSummary.lastValue.unit" chart-type="tracker.chartType"></tracker-chart>
    						</div>
    						
		    			</div>
					    	
					</div>
					
				</div>
				
		  	</div>
		  	
		</div>
		
		<div id="compare" class="tab-pane small" ng-class="{active:model.tabs['compare'].active}" heading="Compare" ng-controller="CompareCtrl">
			
			<div ng-show="!compareModel.trackers || compareModel.trackers.length==0" style="margin:20px;">
		    	You haven't added any trackers yet. Get going!
		    </div>
		    
			<div ng-if="!compareModel.trackerSet && compareModel.trackers" style="margin:20px;">
				
				<h4>Pick Trackers</h4>
				
			    <ul class="list-unstyled">
			    
			    	<li ng-repeat="tracker in compareModel.trackers">
			    		
			    		<div class="checkbox">
			    			
			    			<label>
			      				<input ng-model="tracker.selected" type="checkbox" ng-disabled="!tracker.records || !tracker.records.length"> {{tracker.name}} <span class="text-muted" ng-show="!tracker.records || !tracker.records.length">(no data)</span>
							</label>
						
						</div>
						
			    	</li>
			    
			    </ul>
		    
		    	<div>
		    		<button class="btn btn-primary" ng-click="viewSelection()">View</button>
		    	</div>
	
			</div>
			
			<div ng-if="compareModel.trackerSet && compareModel.trackers" style="overflow-y:auto;">
				
				<div class="compare-list" compare-overlay>
					
					<div class="row alpha omega tracker" ng-repeat="tracker in compareModel.trackerSet.trackers" ng-class="{even:$index%2==0,odd:$index%2==1}">
						
						<div class="compare-item" class="col-xs-12">
							<div>{{tracker.name}}</div>
							<tracker-chart records="tracker.records" timespans="model.timespans" chart-type="tracker.chartType" timespan-enabled="false" yaxis-enabled="false" xaxis-enabled="false" class-name="'compare-chart'" select="onDatumSelect(point)" min-date="compareModel.minDate" max-date="compareModel.maxDate"></tracker-chart>
			    		</div>
					    	
					</div>
					
				</div>
				
				<div style="background-color:#000; padding: 5px">
		    		<button class="btn btn-primary" ng-click="compareModel.trackerSet=null">Pick Trackers</button>
		    	</div>
		    	
			</div>
			
		</div>
		
	</div>
	
</div>
