<div data-role="page" data-close-btn="none">
    
    <div class="text-center" data-role="header" style="margin-bottom: 50px">
        <img src='img/logo.png'>
    </div>
    
    <div class="row">
    
    	<div class="col-xs-10 col-xs-offset-1">
    	
    		<form role="form" class="form-horizontal" ng-controller="UserCtrl">
		    	
		       	<div class="alert alert-warning alert-dismissable" ng-if="userModel.status!=null">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="userModel.status=null">&times;</button>
					<small>{{userModel.status}}</small>
				</div>
				
				<div class="alert alert-warning alert-dismissable" ng-if="status!=null">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="status=null">&times;</button>
					<small>{{status}}</small>
				</div>
		           
		           <div class="form-group">
			    	<label class="col-sm-2 control-label">Username</label>
			    	<div class="col-sm-10">
			    		<input type="email" class="form-control" ng-model="form.username" placeholder="Enter username">
			    	</div>
			  	</div>
			  	
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">Password</label>
			    	<div class="col-sm-10">
			    		<input type="password" class="form-control" ng-model="form.password" placeholder="Enter password">
			    	</div>
			  	</div>
			  	
		        <button class="btn btn-primary" ng-click="submitLogin()">Login</button>
		        
		        <div style="padding-top:35px; text-align:center;">
		            Not registered? <a ng-href="#" ng-click="showPopup('signup')">Signup</a>
		        </div>
		        
		    </form>
		    
    	</div>
    	
    </div>
    
</div>