<div data-role="page" data-close-btn="none">
    
    <div class="text-center" data-role="header">
        <h1 >Patient Tracker</h1>
    </div>
    
    <div class="row text-center" style="margin: 50px;">
    	<div class="col-sm-6" style="margin-top:10px">
			<button type="button" class="btn btn-info btn-lg btn-block" ng-click="showPopup('signup')">New User</button>
		</div>
		<div class="col-sm-6" style="margin-top:10px">
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showPopup('login')">Existing User</button>
		</div>
    </div>
    
</div>