<div data-role="page" data-close-btn="none">

	<button type="button" class="btn btn-link btn-navbar" ng-click="navigation.setLocation('/home')" ng-show="navigation.path.indexOf('view')>-1"><span class="glyphicon glyphicon-arrow-left"></span></button>
	
	<div class="panel panel-default" style="margin:20px">
  		
  		<div class="panel-heading">
  
    		<h4>{{model.tracker.name}} <button class="btn btn-link btn-small pull-right" confirm-delete="remove-tracker-confirm" confirm-callback="deleteStatement(model.tracker)">Delete</button></h4>
		
		</div>
		
		<div class="panel-body">
	
    		<div ng-switch on="model.tracker.type">
    
    			<div ng-switch-when="medication" ng-controller="MedicationsCtrl" class="list-group">
    	
    				<div ng-if="(medicationsModel.recordsFiltered = (medicationsModel.records | filter:{id:model.tracker.definition.id} | orderBy:'date':true)).length>=1">
    				
    					<div ng-repeat="record in medicationsModel.recordsFiltered" class="list-group-item">
    						<h6>{{record.value}} {{record.unit}} {{record.route}}<small class="pull-right text-muted">{{record.date | date:'MM/dd/yyyy @ h:mma'}}</small></h6>
    					</div>
    				</div>
    				
    				<div ng-if="medicationsModel.recordsFiltered.length==0" class="text-center text-muted">
    					<em>No data added yet!</em>
    				</div>
    		
    			</div>
    	
    			<div ng-switch-when="vital" ng-controller="VitalsCtrl" class="list-group">
    	
    				<div ng-if="(vitalsModel.recordsFiltered = (vitalsModel.records | filter:{code:model.tracker.definition.code} | orderBy:'date':true)).length>=1">
    				
    					<div ng-repeat="record in vitalsModel.recordsFiltered" class="list-group-item">
    		
    						<h6>{{record.valueLabel}} {{record.unitLabel}}<small class="pull-right text-muted">{{record.date  | date:'MM/dd/yyyy @ h:mma'}}</small></h6>
    			
    					</div>
    					
    				</div>
    				
    				<div ng-if="vitalsModel.recordsFiltered.length==0" class="text-center text-muted">
    					<em>No data added yet!</em>
    				</div>
    		
    			</div>
    	
    			<div ng-switch-when="tracker" ng-controller="TrackersCtrl" class="list-group">
    	
    				<div ng-if="(trackersModel.recordsFiltered = (trackersModel.records | filter:{code:model.tracker.code} | orderBy:'date':true)).length>=1">
    					
    					<div ng-repeat="record in trackersModel.recordsFiltered" class="list-group-item">
    		
    						<h6>{{record.valueLabel}} {{record.unitLabel}}<small class="pull-right text-muted">{{record.date  | date:'MM/dd/yyyy @ h:mma'}}</small></h6>
    			
    					</div>
    				
    				</div>
    				
    				<div ng-if="trackersModel.recordsFiltered.length==0" class="text-center text-muted">
    					<em>No data added yet!</em>
    				</div>
    		
    			</div>
    		
    		</div>
    		
    	</div>
    	
    </div>
    
</div>