<div data-role="page" data-close-btn="none">

	<button type="button" class="btn btn-link btn-navbar" ng-click="navigation.setLocation('/home')" ng-show="navigation.path.indexOf('view')>-1"><span class="glyphicon glyphicon-arrow-left"></span></button>
	
	<div class="panel panel-info" style="margin:20px">
  		
  		<div class="panel-heading container">
  		
  			<div class="row">
  			
  				<div class="col-xs-9">
  					<h4>{{model.tracker.name}}</h4>
  				</div>
  				
  				<div class="col-xs-3" style="margin: 5px 0px 0px; padding: 0px;">
  					<div class="btn-group btn-group-sm">
					  <button type="button" class="btn btn-default" ng-click="model.tabs['record'].active=true; navigation.setLocation('home'); model.selectedTrackerId = model.tracker.code" title="Enter new measures"><span class="glyphicon glyphicon-pencil"></span></button>
					  <button type="button" class="btn btn-default" confirm-delete="remove-tracker-confirm" confirm-callback="deleteStatement(model.tracker)" title="Delete tracker"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
  				</div>
  			</div>
		
		</div>
		
		<div class="panel-body">
	
    		<div ng-switch on="model.tracker.type">
    
    			<div ng-switch-when="medication" ng-controller="MedicationsCtrl" class="list-group">
    	
    				<div ng-if="(medicationsModel.recordsFiltered = (medicationsModel.records | filter:{id:model.tracker.definition.id} | orderBy:'date':true)).length>=1">
    				
    					<div ng-repeat="record in medicationsModel.recordsFiltered" class="list-group-item">
    						<h6>{{record.value}} {{record.unit}} {{record.route}}<small class="pull-right text-muted">{{record.date | date:'MM/dd/yyyy @ h:mma'}}</small></h6>
    					</div>
    				</div>
    				
    				<div ng-if="medicationsModel.recordsFiltered.length==0" class="text-center text-muted">
    					<em>No data added yet!</em>
    				</div>
    		
    			</div>
    			
    			<div ng-switch-when="vital" ng-controller="VitalsCtrl" class="list-group">
    	
    				<div ng-if="(vitalsModel.recordsFiltered = (vitalsModel.records | filter:{code:model.tracker.definition.code} | orderBy:'date':true)).length>=1">
    				
    					<div ng-repeat="record in vitalsModel.recordsFiltered" class="list-group-item">
    					
    						<div ng-repeat="value in record.values">
    							<div ng-if="$index==0"><strong>{{value.values.join(', ')}} {{value.unit}}</strong><small class="pull-right text-muted">{{record.date  | date:'MM/dd/yyyy @ h:mma'}}</small></div>
    							<div ng-if="$index>0"><small>{{value.values.join(', ')}} {{value.unit}}</small></div>
    						</div>
    						
    						<span class="small text-muted" ng-if="record.comments">{{record.comments}}</span>
    					
    					</div>
    					
    				</div>
    				
    				<div ng-if="vitalsModel.recordsFiltered.length==0" class="text-center text-muted">
    					<em>No data added yet!</em>
    				</div>
    				
    			</div>
    			
    			<div ng-switch-when="tracker" ng-controller="TrackersCtrl" class="list-group">
    	
    				<div ng-if="(trackersModel.recordsFiltered = (trackersModel.records | filter:{code:model.tracker.code} | orderBy:'date':true)).length>=1">
    					
    					<div ng-repeat="record in trackersModel.recordsFiltered" class="list-group-item">
    		
    						<div ng-repeat="value in record.values">
    							<div ng-if="$index==0"><strong>{{value.values.join(', ')}} {{value.unit}}</strong><small class="pull-right text-muted">{{record.date  | date:'MM/dd/yyyy @ h:mma'}}</small></div>
    							<div ng-if="$index>0"><small>{{value.values.join(', ')}} {{value.unit}}</small></div>
    						</div>
    						
    						<span class="small text-muted" ng-if="record.comments">{{record.comments}}</span>
    			
    					</div>
    				
    				</div>
    				
    				<div ng-if="trackersModel.recordsFiltered.length==0" class="text-center text-muted">
    					<em>No data added yet!</em>
    				</div>
    		
    			</div>
    		
    		</div>
    		
    	</div>
    	
    </div>
    
</div>
