<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-slider.css">
        <link rel="stylesheet" type="text/css" href="css/typeahead.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <!--    libraries -->
		<script src="js/vendor/jquery/jquery.min.js"></script>
		<script src="js/vendor/bootstrap/typeahead.min.js"></script>
		<script src="js/vendor/bootstrap/bootstrap-slider.js"></script>
		<script src="js/vendor/angular/angular.min.js"></script>
		<script src="js/vendor/angular/angular-route.min.js"></script>
		<script src="js/vendor/underscore/underscore-min.js"></script>
		<script src="js/vendor/underscore/underscore.string.min.js"></script>
		<script src="js/vendor/bootstrap-ui/ui-bootstrap-custom-0.10.0.min.js"></script>
		<script src="js/vendor/bootstrap-ui/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
		<script src="js/vendor/chart/Chart.js"></script>
		<script src="js/vendor/sparkline/jquery.sparkline.min.js"></script>
		<!--    classes -->
		<script src="classes/model/condition/condition.class.js"></script>
		<script src="classes/model/medication/medication-record.class.js"></script>
		<script src="classes/model/medication/medication-statement.class.js"></script>
		<script src="classes/model/tracker/tracker-statement.class.js"></script>
		<script src="classes/model/vital/vital-record.class.js"></script>
		<script src="classes/model/vital/vital-statement.class.js"></script>
		<script src="classes/fhir/model/code.class.js"></script>
		<script src="classes/fhir/model/codeable-concept.class.js"></script>
		<script src="classes/fhir/model/coding.class.js"></script>
		<script src="classes/fhir/model/medication/medication-dosage.class.js"></script>
		<script src="classes/fhir/model/medication/medication.class.js"></script>
		<script src="classes/fhir/model/narrative.class.js"></script>
		<script src="classes/fhir/model/observation-component-component.class.js"></script>
		<script src="classes/fhir/model/period.class.js"></script>
		<script src="classes/fhir/model/quantity.class.js"></script>
		<script src="classes/fhir/model/resource-reference.class.js"></script>
		<script src="classes/fhir/model/schedule.class.js"></script>
		<script src="classes/fhir/model/value.class.js"></script>
		<!-- highcharts -->
		<script src="js/vendor/highcharts/highstock.js"></script>
		<script src="js/vendor/highcharts/highcharts-more.js"></script>
		<script src="js/vendor/highcharts/modules/exporting.js"></script>
		<script src="js/vendor/highcharts/themes/gray.js"></script>
		<!--    BEGIN ANGULAR -->
		<!--    angular controllers -->
		<script src="app/app.js"></script>
		<script src="app/config.js"></script>
		<script src="app/cordova.js"></script>
		<script src="app/controllers/app.js"></script>
		<script src="app/controllers/compare.js"></script>
		<script src="app/controllers/conditions.js"></script>
		<script src="app/controllers/medications.js"></script>
		<script src="app/controllers/trackers.js"></script>
		<script src="app/controllers/user.js"></script>
		<script src="app/controllers/vitals.js"></script>
		<!--    angular directives -->
		<script src="app/directives/alert.js"></script>
		<script src="app/directives/bootstrap-slider.js"></script>
		<script src="app/directives/bouncer.js"></script>
		<script src="app/directives/confirm-delete.js"></script>
		<script src="app/directives/load-button.js"></script>
		<script src="app/directives/sparkline.js"></script>
		<script src="app/directives/tracker-chart.js"></script>
		<script src="app/directives/tracker-chart-compare.js"></script>
		<script src="app/directives/typeahead.js"></script>
		<!--    angular services -->
		<script src="app/services/conditions.js"></script>
		<script src="app/services/factory.js"></script>
		<script src="app/services/fhir-factory.js"></script>
		<script src="app/services/medications.js"></script>
		<script src="app/services/navigation.js"></script>
		<script src="app/services/trackers.js"></script>
		<script src="app/services/user.js"></script>
		<script src="app/services/utilities.js"></script>
		<script src="app/services/vitals.js"></script>
		<!--    END ANGULAR -->
        <title>Patient Tracker</title>
    </head>
    
    <body ng-controller="AppCtrl" bouncer>
    
    	<div id="deviceready" class="blink">
    	
            <p class="event listening">Connecting to Device</p>
            
            <div class="event received"> 			
            	
            	<nav class="navbar navbar-default" role="navigation" ng-show="model.isLoggedIn">
					
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
					    	<span class="sr-only">Toggle navigation</span>
					     	<span class="icon-bar"></span>
					      	<span class="icon-bar"></span>
					      	<span class="icon-bar"></span>
					    </button>
					    <a class="navbar-brand">{{model.selectedCondition!=null?model.selectedCondition.name:constants.TITLE}}</a>		    
					</div>				
					<div class="collapse navbar-collapse" collapse="isCollapsed">
						<ul class="nav navbar-nav">
							<li class="dropdown" ng-controller="ConditionsCtrl">
						        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Selected Condition <b class="caret"></b></a>
						        <ul class="dropdown-menu">
						        	<li><a ng-click="model.selectedCondition=null">None</a></li>
						        	<li><a ng-click="model.selectedCondition=constants.CONDITION_ALL">All</a></li>
						        	<li ng-repeat="condition in conditionsModel.statements">
						        		<a ng-click="isCollapsed=true; model.selectedCondition=condition">{{condition.name}}</a>
						        	</li>
						        	<li><a class="text-success" ng-click="navigation.showPopup('add-condition',null,onAddConditionDismiss)"><span class="glyphicon glyphicon-plus"></span></a></li>
						    	</ul>
						    </li>
	      					<li><button type="button" class="btn btn-link btn-navbar" ng-click="showPopup('add-tracker')">Add Tracker</button></li>
			  				<li><button type="button" class="btn btn-link btn-navbar" ng-click="submitLogout()" ng-controller="UserCtrl" >
  								<span class="glyphicon glyphicon-log-out"></span>Log Out</button>
							</li>
			  			</ul>
		  			</div>
		  			
				</nav>
				
				<!-- container for template matching current route in /partials directory -->
		        <div ng-view></div>
		        
            </div>
            
        </div>
		
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
