<!-- creates a page for each subsection for section with index=4 (vitals) -->
<div ng-repeat="vital in vitalsModel.vitalDefinitions" data-role="page" id="vitals{{vital.domId}}">
    <div data-role="header" data-id="myHeader">
        <a id="myIndex" href="#home" data-icon="arrow-l" data-transition="slide" data-direction="reverse">Back</a>
        <h1>Vital Signs</h1>
        <div data-role="navbar">
		    <ul>
				<li><a ng-click="navigate('addVitals')" data-theme="b" data-rel="dialog" data-transition="slidedown" data-mini="true">Add Vital</a></li>
				<li><a ng-click="navigate('addTracker')" data-theme="b" data-rel="dialog" data-transition="slidedown" data-mini="true">Add Tracker</a></li>
			</ul>
		</div>
    </div>
    <div data-role="content" class="noPadding"> 
        <div id="container{{vital.domId}}" class="noShadow" highchart get-tracker="getTrackerDefinitionByID" ng-model="vital" ng-show="vital.data.length>0"></div>
        <div id="placeholder{{vital.domId}}" align="center" ng-show="vital.data.length==0">
            <h1>No data added yet</h1>
            <p>You may add your vitals using the "+" button on the top-right corner</p>
        </div>
    </div>
    <div data-role="footer" data-id="myFooter" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li ng-repeat="vital in vitals">
                    <a ng-href="#vitals{{vital.domId}}" data-icon="grid" ng-class="getSubNavClass(vital.id)" ng-click="setSelectedVital(vital.id)">{{vital.labelShort}}</a>
                </li>
            </ul>
        </div>
        <div ng-show="vitalsModel.trackerOptions.length>1">
       		<select ng-model="vitalsModel.displayedTrackerId" ng-options="t.id as t.label for t in vitalsModel.trackerOptions" jqm-refreshable="vitalsModel.trackerOptions" jqm-type="selectmenu" ng-change="showTracker(vitalsModel.displayedTrackerId)"></select>
    	</div>
    </div>
</div>