<div ng-include="'popups/header.html'" ng-init="title='Add {{model.selectedCondition?model.selectedCondition.name:''}} Tracker'"></div>

<div class="modal-body">
   	
	<p>What would you like to track?</p>
   	
   	<accordion close-others="true">
   		
		<accordion-group heading="A Medication">
		
			<div ng-controller="MedicationsCtrl">
			
	      		<div class="alert alert-warning alert-dismissable" ng-if="status!=null">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="setStatus()">&times;</button>
					<small>{{status}}</small>
				</div>
		        
		        <form role="form">
		        
		        	<div class="form-group">
			            <input type="text" class="form-control" placeholder="Medication" medications-typeahead="medicationsModel.form.statement.medication">
			        </div>
			        
			        <div ng-show="medicationsModel.form.statement.medication">
				        
				        <div class="form-group">
				        	
				            <div class="checkbox">
		            			<label><input type="checkbox" ng-model="medicationsModel.form.statement.asNeeded"> I take this on an as-needed basis</label>
		            		</div>
				            
				        </div>
				        
				        <div ng-show="!medicationsModel.form.statement.asNeeded">
				        
				        	<h4>Dosage</h4>
				        	
				        	<!-- dosage.quantity -->
					        <div class="form-group row">
					            
				            	<div class="col-xs-6">
					           		<label class="control-label">I take</label>
					            </div>
					            
				            	<div class="col-xs-6">
					                <input type="number" class="form-control input-sm" ng-model="medicationsModel.form.statement.maxDose" value="1" min="0" max="100">
					            </div>
						        
						    </div>
						    
						    <div class="form-group row">
						    
					            <!-- dosage.quantity.value -->
					            <div class="col-xs-5">
					                <input type="number" class="form-control input-sm" ng-model="medicationsModel.form.statement.dosageQuantity" value="1" min="0" max="5000">
					            </div>
					            
					            <!-- dosage.timing.repeat.units -->
					            <div class="col-xs-4">
					                <select class="form-control input-sm" ng-model="medicationsModel.form.statement.dosageUnit" ng-options="t.label for t in medicationsModel.formOptions.dosageUnits"></select>
					            </div>
					            
					            <!-- dosage.timing.repeat.units -->
					            <div class="col-xs-3">
					                <span>dose(s)</span>
					            </div>
						            
						 	</div>
						        
							<div class="form-group row">
						        
						    	<!-- dosage.quantity.value -->
						        <div class="col-xs-12">
						       		<select class="form-control input-sm" ng-model="medicationsModel.form.statement.dosageRoute" ng-options="t.label for t in medicationsModel.formOptions.dosageRoutes"></select>
						       	</div>
					            
					        </div>
					        
					        <div class="form-group row">
					            
				            	<div class="col-xs-6">
					                <span>every</span>
					            </div>
				            	
				            	<!-- dosage.timing.repeat.duration -->
					            <div class="col-xs-6">
					                <input type="number" class="form-control input-sm" ng-model="medicationsModel.form.statement.dosageFrequency" min="0" max="24">
					            </div>
					        </div>
					        
					         <div class="form-group row">
					         
				            	<!-- dosage.timing.repeat.units -->
				           		<div class="col-xs-12">
				                	<select class="form-control input-sm"  ng-model="medicationsModel.form.statement.dosageRepeatUnit" ng-options="t.value as t.label for t in medicationsModel.formOptions.repeatUnits"></select>
				            	</div>
				        	
				        	</div>
					        
					        <div class="form-group row">
					        
					        	<div class="col-xs-12">
					        		<label>Reason for Taking:</label>
									<textarea class="form-control"></textarea>
					        	</div>
				        	
				        	</div>
					        
				        </div>
				        
				        <!-- dosage.timing -->
				        <div ng-show="!medicationsModel.form.statement.asNeeded">
				        
				            <!-- 
				            <div class="form-group" >
				                <label>From:</label>
				                <input type="date" class="form-control input-sm" ng-model="medicationsModel.form.statement.startTime">
				            </div>
				            
				            <div class="form-group" >
				                <label for="addMedicationEndDate">To:</label>
				                <input type="date" class="form-control input-sm" ng-model="medicationsModel.form.statement.endTime">
				            </div>
				             -->
				             
				        </div>
					    
					    <div class="form-group row" ng-show="form.frequency==medicationsModel.formOptions.frequencies[0]">
					        	
					   		<div class="col-xs-12">
								<div ng-include="'partials/reminder-form.html'" onload="model=medicationsModel"/>
							</div>
					        
						</div>
					        
			        </div>
					
					<button class="btn btn-primary" ng-click="addStatement()" ng-model="loading" load-button="Submitting" ng-disabled="!medicationsModel.form.statement.medication">Track It!</button>
					
				</form>
				
			</div>
			
    	</accordion-group>
    
    	<accordion-group heading="A Vital Sign">
			
			<div ng-controller="VitalsCtrl">
			
				<div class="alert alert-warning alert-dismissable" ng-if="status!=null">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="setStatus()">&times;</button>
					<small>{{status}}</small>
				</div>
		        
		        <form role="form">
		        	
		        	<div class="form-group">
		        		<select class="form-control input-sm" ng-model="vitalsModel.selectedVitalId" ng-options="t.id as t.label for t in [{id:undefined,label:'Select'}].concat(vitalsModel.definitions)"></select>
		        	</div>
		        	
		        	<div ng-if="vitalsModel.selectedVital">
						<div ng-include="'partials/reminder-form.html'" onload="model=vitalsModel"/>
					</div>

					<button class="btn btn-primary" ng-click="addStatement()" ng-model="loading" load-button="Submitting">Track It!</button>
					
				</form>
			
			</div>
			
		</accordion-group>
		
		<accordion-group heading="A Custom Tracker">
			
			<div ng-controller="TrackersCtrl">
			
				<div class="alert alert-warning alert-dismissable" ng-if="status!=null">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="setStatus()">&times;</button>
					<small>{{status}}</small>
				</div>
		        
		        <form role="form">
		        	
		        	<div class="form-group">
		        		<select class="form-control input-sm" ng-model="trackersModel.selectedTrackerId" ng-options="t.id as t.label for t in [{id:undefined,label:'Select'}].concat(trackersModel.definitions)"></select>
		        	</div>
		        	
		        	<div ng-if="trackersModel.selectedTracker">
						<div ng-include="'partials/reminder-form.html'" onload="model=trackersModel"/>
					</div>
					
		        	<button class="btn btn-primary" ng-click="addStatement()" ng-model="loading" load-button="Submitting">Track It!</button>
			
				</form>
			
			</div>
			
		</accordion-group>
		
   	</accordion>
       
</div>