/* so charts show full screen */
.noPadding {padding: 0px;}

/* for charts' text */
.noShadow {text-shadow:none;}

.tracker-list { font-size: 1em; }
.tracker { height: 50px; padding:5px; margin-bottom: 10px; border: solid 2px #eee; border-radius: 5px; }
.tracker .title { font-size: .8em; font-weight: bold; }
.tracker .last { font-size: .7em; line-height: 1.1em; }
.tracker .date { font-size: .6em; }
.tracker .graph { line-height:.5em; }

.v-center { display:table !important; height:100%;}
.v-center  > div { display:table-cell; vertical-align:middle; }

.alpha{ margin-left: 0px; }
.omega{ margin-right: 0px; }

sparkline{ position:absolute; }